In [1]:
import numpy as np
import matplotlib.pyplot as plt
import os
import glob
import imageio
import pandas as pd

# after13 - Image Processing

In [2]:
fns = glob.glob(r'data/*.png')
fns

['data\\n0q_202304010000.png',
 'data\\n0q_202304020000.png',
 'data\\n0q_202304030000.png',
 'data\\n0q_202304040000.png',
 'data\\n0q_202304050000.png',
 'data\\n0q_202304060000.png',
 'data\\n0q_202304070000.png',
 'data\\n0q_202304080000.png',
 'data\\n0q_202304090000.png',
 'data\\n0q_202304100000.png']

In [3]:
filename = []
min = []
median = []
max = []

In [4]:
for fn in fns:
    I = imageio.v3.imread(fn)
    
    dbz = (0.5 * I.astype(float) - 32)
    dbz[dbz < -32] = np.nan

    filename.append(fn[6:])
    min.append(np.nanmin(dbz))
    median.append(np.nanmedian(dbz))
    max.append(np.nanmax(dbz))

In [5]:
data = {'filename': filename,
       'min': min,
       'median': median,
       'max': max}

df = pd.DataFrame(data)
df

              filename   min  median   max
0  0q_202304010000.png -32.0   -32.0  74.0
1  0q_202304020000.png -32.0   -32.0  70.0
2  0q_202304030000.png -32.0   -32.0  77.0
3  0q_202304040000.png -32.0   -32.0  75.5
4  0q_202304050000.png -32.0   -32.0  75.5
5  0q_202304060000.png -32.0   -32.0  71.5
6  0q_202304070000.png -32.0   -32.0  70.0
7  0q_202304080000.png -32.0   -32.0  68.5
8  0q_202304090000.png -32.0   -32.0  68.0
9  0q_202304100000.png -32.0   -32.0  74.0

In [6]:
df.to_csv('image_dbz.csv')